.gallery {
  margin-top: 8rem;
}

.item {
  display: grid;
  grid-template-rows: auto auto;
}

.item__thumbnail {
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
}

.item__body {
  padding: 7.2rem 3.2rem;
}

.item__title {
  margin-bottom: 1.6rem;
  font-size: 2.8rem;
}

.item__description {
  font-size: 1.5rem;
  font-weight: 300;
}

@media (min-width: 768px) {
  .item {
    grid-template-rows: auto;
    min-height: 80vh;
  }

  .item.thumbnail {
    grid-template-columns: 1fr 35vw;
  }

  .item.thumbnail .item__thumbnail {
    order: 0;
  }

  .item.body .item__thumbnail {
    order: 1;
  }

  .item.body {
    grid-template-columns: 35vw 1fr;
  }

  .item__thumbnail {
    height: 100%;
  }

  .item__body {
    padding: 13.6rem 5.4rem;
  }

  .item__title {
    margin-bottom: 2.2rem;
    max-width: 80%;
  }
}

@media (min-width: 1024px) {
  .item {
    grid-template-columns: 55vw 1fr;
    grid-template-rows: 1fr;
    min-height: auto;
  }

  .item.thumbnail {
    grid-template-columns: 55vw 1fr;
  }

  .item.body {
    grid-template-columns: 1fr 55vw;
  }

  .item.body .item__body {
    justify-items: end;
  }

  .item__thumbnail {
    height: auto;
  }
  .item__body {
    display: grid;
    padding: 0 11.2rem;
  }
  .item__title {
    align-self: end;
  }
}

@media (min-width: 1440px) {
  .item__title {
    width: 60%;
  }
  .item__description {
    max-width: 60%;
  }
}
