* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Noto Sans Variable", sans-serif;
  font-size: 62.5%;

  --pure-white: #ffffff;
  --light-gray: #dfdfdf;
  --pure-black: #000000;

  --font-family: "Noto Sans Variable", sans-serif;

  --heading-1: bold 4rem/4.8rem var(--font-family);
  --heading-2: bold 2.4rem/2.5rem var(--font-family);
  --heading-3: bold 1.8rem/2.5rem var(--font-family);
  --heading-4: bold 1.2rem/1.6rem var(--font-family);
  --body: 1.5rem/2.5rem var(--font-family);

  --ls-1: 0.417rem;
  --ls-2: 0;
  --ls-3: 0.2rem;

  font: var(--body);
  letter-spacing: var(--ls-2);
}
