* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Noto Sans Variable", sans-serif;
  font-size: 62.5%;

  --pure-white: #ffffff;
  --light-gray: #dfdfdf;
  --pure-black: #000000;

  --font-family: "Noto Sans Variable", sans-serif;

  --heading: bold 4.8rem var(--font-family);
  --heading-mobile: bold 3.2rem var(--font-family);
  --subheading: 200 1.6rem var(--font-family);
  --body: 1.5rem/2.5rem var(--font-family);
}
